body {
font-family: "Batang", sans-serif;
background-color: rgba(27,180,171,.72);
}

header {
    background-color: rgb(15,46,61);
    color: white;
    font-size: 40px;
    border-radius: 10px;
    text-align: center;
}

a {
    font-weight: bold;
    color: rgb(15,46,61);
}

a:hover {
    color: rgb(198,83,187);
}
form {
            background-color: rgb(15,46,61);
            padding: 20px;
            color: #595959;
            border-radius: 10px;
            margin: 15px;
          }
.formInfo {
  color: rgba(27,180,171,.72)
}
#submitButton {
  background-color: rgb(107,18,101)
}
